.container{
    background-color: rgb(252, 254, 254);
    filter: drop-shadow(3px 3px 3px gray);
    max-height: 902px;
    position: sticky;
    top: 0;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: brown;
}

img{
    width: 100%;
    height: 100%;
    margin-left: 0 !important;
}

.logo-inner{
    width: 300px;
    height: auto;
}

.side-bar-container{
    position: relative;
    top: 20px;
}

.side-bar-menu {
    flex-grow: 1;
    background-color: red;
}

.side-bar-footer {
    position: fixed; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    min-height: 50px;
    bottom: 0;
    background-color: #FBCE97;
    text-align: center;
}