.unit-info-container{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.unit-info-inner{
  padding: 20px;
  padding-top: 75px;
  width: 100%;
}

/* .unit-info-row{
    width: 100%;
} */

.unit-info-col{
    width: 100%;
}

/* .unit-info-card{
  background-color: rgb(242, 242, 242);
}  */