.app {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.app-header {
  display: flex;
  position: sticky;
  width: 100%;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 75px;
}

.app-footer {
  background-color: orange;
  position: fixed;
  width: 100%;
  bottom: 0;
  min-height: 50px;
  text-align: center;
}

.data_div{
  text-align: center;
}